body {
    font-family: 'Arial', sans-serif;
    background-color: #432649;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    width: 350px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #555;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 60px; /* Assure une taille minimale pour le conteneur */
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #960c96; /* Couleur de fond bleu */
    color: #fff; /* Texte blanc */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4a2899; /* Couleur bleu plus foncé au survol */
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0); /* Annule l'effet de survol au clic */
}